  body {
    font-family: Helvetica;
    font-size: 14px;
    background-color: grey;
  }

  h1.intro {
    color: black;
    text-align: center;
    font-size: 50px
  }

  h2 {
    font-family: monospace;
  }

  p {
    color: black;
  }

  .tweet {
    border-style: groove;
	  border-width: 5px;
    height: 50px;
	  background: white;
    border-radius: 10px
  }

  #homeButton {
    background-image: url(twitterBird.JPEG);
    text-align: left;
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    border-style: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  button.profile {
    color: #0000ff;
    background: none;
    border: none;
  }

  button.showAll {
    background: none;
    border: none;
  }
